<!DOCTYPE hmtl>
<head>
  <link rel="stylesheet" type="text/css" href="style/about.css">
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
</head>

<body>

  <div class="circle"></div>

  <div class="team">
    <img src="design_images/unnamed.jpg" width="400" height="280" >
  </div>

  <h1> “Behind the scenes</h1>
  <h2> Of MakersBNB”</h2>

  <p>
  Hello! You are now visiting somewhat of an airbnb <br>
  prototype done by four funny and crazy start up
  <br> coders! We say crazy as we've done all of this
  within <br> a week! You've probably clone this repo
  as you are <br> seeing this now but to find out more about
  us,<br> check us out on our githubs. We hope you have <br>
  fun booking a property to rent with us.
  </head>


  </p>

  <form action="/welcome">
    <button type="submit" class="home">Back To Home</button>
  </form>

  <form>
  <input type="button" value="More Info" class ="Github" onclick="window.location.href='https://github.com/LewisYoul/MakersBnB'" />
  </form>


</body>
