<h2>Booking Confirmed!</h2>

<div>
  Starting date:  <%= @startDate %>
</div>
<br>
<div>
  End date:  <%= @endDate %>
</div>
<br>

<form method='get' action='/welcome'>
  <button type="submit">Home</button>
</form>
