<h2>Enter Rental</h2>

<form action='/rental/new' method='POST'>
  <input type='string' name='name' placeholder='Enter name:' />
  <input type='string' name='location' placeholder='Enter location:' />
  <input type='integer' name='price' placeholder='Enter price:' />
  <input type='integer' name='capacity' placeholder='Enter capacity:' />
  <input type='integer' name='user_name' placeholder='Enter User Name:' />
  <input type='submit' value='submit'>
</form>
