<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>

  <div id="rental-overview"></div>

  <script src = "/src/rental_overview.js"></script>

  <form method='get' action='/welcome'>
    <button type="submit">back</button>
  </form>

</body>
