Enter your details to get started!
<form action="/signup/new" method="post">
  <input type="text" name="name" placeholder="Username">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirm Password">
  <button type="submit">Sign Up</button>
</form>

<% if flash[:message] %>
<div class="message"><%= flash[:message] %></div>
<% end %>
<% if flash[:inuse] %>
<div class="message"><%= flash[:inuse] %></div>
<% end %>
