<!DOCTYPE hmtl>
<head>
  <link rel="stylesheet" type="text/css" href="style/signup.css">
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>

</head>

</body>


<div class="circle"></div>

<div class="icon">
  <img src="design_images/script.png" width="50" height="50">
</div>

<h2> Enter your details </h2>
<h3> to get started! </h3>

<form action="/signup/new" method="post">
  <input type="text" class="name" name="name" placeholder="Username">
  <input type="email" class="email" name="email" placeholder="Email">
  <input type="password" class="password"name="password" placeholder="Password">
  <input type="password" class="confirm" name="password_confirmation" placeholder="Confirm Password">
  <button type="submit" class="submit">Sign Up</button>
</form>


<form action="/">
  <button type="submit" class="account">Ah! I already have an account</button>
</form>


<% if flash[:message] %>
<div class="message"><%= flash[:message] %></div>
<% end %>
<% if flash[:inuse] %>
<div class="message"><%= flash[:inuse] %></div>
<% end %>


</body>
