<head>
  <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->
  <!-- <script src = "/src/Thermostat.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src = "/src/jq.js"></script>
</head>


<span id = "list"></span>
