<head>
  <style>
    .name {
      color: #E15127;
    };
    .individual {
      background-color: red;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<script src = "/src/jq.js"></script>
<% if current_user %>
  <h1>Welcome <%=current_user.name%></h1>
<% end %>

  <input type="text" id="citySearch" placeholder="Search for city.."
    title="Search by city">

  <select id="selectCapacity" class="selectCapacity"></select>

  <div id = "rentals">
  </div>


</body>
