<head>
  <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->
  <!-- <script src = "/src/Thermostat.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src = "/src/jq.js"></script>
</head>
<body>
<div id = "rentals">
</div>


<!-- <span id = "name"></span><br />
<span id = "location"></span><br />
<span id = "price"></span><br />
<span id = "capacity"></span><br /> -->
</body>
<style>
.name {
  color: #E15127;
};
.individual {
  background-color: red;

}


</style>
