body {
  height: 200px;
  background-color: #c64549;
  margin:0px;
  padding: 0;
  overflow-y: hidden;
}

.circle {
     width: 750px;
     height: 750px;
     size: contain;
     -webkit-border-radius: 75px;
     -moz-border-radius: 75px;
     border-radius: 500px;
     background: #FCFFFF;
     position: absolute;
     top: -10%;
     left: 20.5%;
     background-position: center;
     box-shadow: 40px -10px  rgba(0,0,0,0);
    -moz-box-shadow: 20px -20px  rgba(0,0,0,0.3);
    -webkit-box-shadow: -40px 35px  rgba(0,0,0,0.3);
    -o-box-shadow: 20px -10px  rgba(0,0,0,0.3);
   }

   h2{
     font-family: 'Cabin';
     font-size: 26px;
     font-weight: 700;
     position: absolute;
     top: 22%;
     left: 42%;
     color: #212626;
   }

   h3{
     font-family: 'Cabin';
     font-size: 38px;
     font-weight: 700;
     position: absolute;
     top: 23%;
     left: 41%;
     color: #212626;
   }
.account{
  border-radius: 14px;
  padding: 10px 112px;
  border: 0;
  background-color: white;
  font-family: 'Cabin';
  font-size: 12px;
  font-weight: 700;
  color: #e55459;
  letter-spacing: 0.7px;
  outline: none;
  position: absolute;
  top: 81.5%;
  left: 35%;
}
  .name {
    background-color: #eff2f2;
    border: 0;
    width: 274px;
    padding: 12px 15px;
    text-align: left;
    border-radius: 25px;
    outline: none;
    font-family: 'Cabin';
    position: absolute;
    top: 41%;
    left: 39%;
  }

  .icon{
    position: absolute;
    top: 15%;
    left: 48%;
  }

  .email {
    background-color: #eff2f2;
    border: 0;
    width: 274px;
    padding: 12px 15px;
    text-align: left;
    border-radius: 25px;
    outline: none;
    font-family: 'Cabin';
    position: absolute;
    top: 49%;
    left: 39%;
  }

  .password {
    background-color: #eff2f2;
    border: 0;
    width: 274px;
    padding: 12px 15px;
    text-align: left;
    border-radius: 25px;
    outline: none;
    font-family: 'Cabin';
    position: absolute;
    top: 57%;
    left: 39%;
  }

  .confirm {
    background-color: #eff2f2;
    border: 0;
    width: 274px;
    padding: 12px 15px;
    text-align: left;
    border-radius: 25px;
    outline: none;
    font-family: 'Cabin';
    position: absolute;
    top: 65%;
    left: 39%;
  }

  .submit{
    cursor: pointer;
    border-radius: 14px;
    padding: 10px 116px;
    border: 0;
    background-color: #e55459;
    font-family: 'Cabin';
    font-size: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.7px;
    outline: none;
    position: absolute;
    top: 73%;
    left: 39%;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #d1d1d1;
  }

  .account:hover{
    color:#41BFB9;
    cursor: pointer;
  }

  .submit:hover{
    background:#41BFB9;
    cursor: pointer;
  }

  .submit:active {
    background:#41BFB9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
