.body{
  margin: 0
  border: 0
}

.line{
  width: 1180;
  height: 1;
  background: #dddddd;
  border-radius: 25px;
  position: absolute;
  top:13%;
  left:4%;

}

.logout{
  background-color: #e54e53; /* Green */
   border: none;
   color: white;
   padding: 20px 25px;
   font-family: 'Cabin';
   font-size: 35px;
   font-weight: 700;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   position: absolute;
   top:1.4%;
   left:88%;
   outline:0;
}

.about{
  background-color: #e54e53; /* Green */
   border: none;
   color: white;
   padding: 20px 25px;
   font-family: 'Cabin';
   font-size: 35px;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   position: absolute;
   margin: 4px 2px;
   top:1.4%;
   left:57%;
   outline:0;
}

.property{
  background-color: #e54e53; /* Green */
   border: none;
   color: white;
   padding: 20px 25px;
   font-family: 'Cabin';
   font-size: 35px;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   position: absolute;
   margin: 4px 2px;
   top:1.4%;
   left:65%;
   outline:0;
}

.log{
  background-color: #e54e53;
   border: none;
   color: white;
   padding: 20px 25px;
   font-family: 'Cabin';
   font-size: 35px;
   font-weight: 700;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   position: absolute;
   margin: 4px 2px;
   top:1.4%;
   left:77%;
   outline:0;
}

.user{
  font-family: 'Cabin';
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  color: #212626;
  top:-1.0%;
  left: 3.7%;
  outline:0;
}

.about:hover{
  background-color:#41BFB9;
  cursor: pointer;
}

.log:hover{
  background-color:#41BFB9;
  cursor: pointer;
}

.logout:hover{
  background-color:#41BFB9;
  cursor: pointer;
}

.city{
  background-color: #eff2f2;
  border: 0;
  padding: 10px 320px 12px 15px;
  position: absolute;
  top: 15%;
  left: 4%;
  text-align: left;
  border-radius: 25px;
  border-radius: 25px;
  outline: 0;
}

.selectCapacity{
  position: absolute;
  top: 16%;
  left: 41%;
  background-color: #e54e53;
  color: #eff2f2;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.rentals{
  position: absolute;
  top: 22%;
  left: 5%;
}

.test{
  color: #212626;
  font-family: 'Cabin';
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 60%;
  text-align: left;


}

.name{
  color: #212626;
  font-family: 'Cabin';
  font-size: 20px;
  font-weight: 700;


}

.price{
  color: #212626;
  font-family: 'Cabin';
  font-size: 15px;
  font-weight: 700;

}

.button{
  background-color: #e54e53; /* Green */
   border: none;
   color: white;
   padding: 10px 25px;
   font-family: 'Cabin';
   font-size: 35px;
   font-weight: 700;
   font-size: 16px;
   cursor: pointer;
   outline:0;

}

.capacity{
  font-family: 'Cabin';
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.image{
  width: 2;
  padding: 0px ;
}

.container{
  background-color: #eff2f2;
  padding: 10px 2px 10px 10px;
  border-radius: 20px;
  width: 250px;
  height: 260px;

}
